src/main/mule/anypointmq-echo-subscriber.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd">
	<flow name="anypointmq-echo-subscriber" doc:id="97c67ab6-e678-45dc-b68f-cf347a63a162" >
		<anypoint-mq:subscriber doc:name="Subscriber" doc:id="afd6ae4d-763a-4f57-a3f5-8ecb654c6f46" config-ref="Anypoint_MQ_Config-Echo" destination="consent-receipt-echo-in" outputMimeType="application/json"/>
		<logger level="INFO" doc:name="Logger" doc:id="4c4f95cd-5e9d-4408-a0f6-3d8da0630cc2" message="#['purpose:' ++ payload.payload.profiles[0].purposeId]"/>
	</flow>
</mule>
