src/main/mule/anypointmq-sfdc-subscriber.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd">
	<flow name="anypointmq-sfdc-subscriber" doc:id="095a87aa-0d00-401b-b4b7-62a15f030622" >
		<anypoint-mq:subscriber doc:name="Subscriber" doc:id="8540b27c-e0ca-4369-a92d-11a308ff87f6" config-ref="Anypoint_MQ_Config-Echo" destination="consent-receipt-sfdc-in" outputMimeType="application/json"/>
		<logger level="INFO" doc:name="Logger" doc:id="f98df1ef-79ed-4ca2-a8b0-ec5a68ad523f" message="#['collectionpt:' ++ payload.payload.profiles[0].collectionPointGuid ++ '\neventtime:' ++ payload.eventTime]"/>
	</flow>
</mule>
