src/main/mule/anypointmq-onetrust-subscriber.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd">
	<flow name="anypointmq-onetrust-subscriber" doc:id="d4d115e2-a121-4dba-b988-221035a39aa2" >
		<anypoint-mq:subscriber doc:name="Subscriber" doc:id="4040a6a9-ed54-43cc-89b5-b7839a946017" config-ref="Anypoint_MQ_Config-Onetrust" destination="new-lead-ot-datasubject-in" outputMimeType="application/json" />
		<logger level="INFO" doc:name="TODO: use httprequest vs flowref" doc:id="a0238d10-3000-470c-a003-00df5b4106a9" message="#['purpose:' ++ payload.payload.profiles[0].purposeId]" />
		<flow-ref doc:name="post:\onetrust\datasubject:mec-prefs-ctr-config" doc:id="30700b72-6e3b-4deb-b6a5-4d039e5bca6e" name="post:\onetrust\datasubject:mec-prefs-ctr-config"/>
	</flow>
</mule>
